.button {
	display: block;
	color: var(--secondary-text-color);
	background-color: var(--acent-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	min-width: 200px;
	height: 50px;
	padding: 10px 32px;
	margin: 0 auto;
	border-radius: 4px;
	@include desktop {
		min-width: 216px;
		height: 50px;
	}
}
.modal-btn {
	align-self: center;
	margin-top: 30px;
	&:hover {
		background-color: #188ce8;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
