:root {
	--primary-text-color: #212121;
	--secondary-text-color: #ffffff;
	--ouwer-text-color: #757575;
	--acent-color: #2196f3;
	--logo-color-text: #000000;
	--buttons-port-color: #f5f4fa;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--footer-bg-color: #2f303a;
	--background-section: #f5f4fa;
	--background-color: #ffffff;
	--header-wrap-color: #ececec;
	--icon-color: #afb1b8;
}

.title {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
