.footer-background {
	background-color: var(--footer-bg-color);
}

.footer-flex {
	display: flex;
	align-items: baseline;
}

.footer-nav {
	margin-right: 70px;
	padding-top: 60px;
}

.footer-logo {
	color: var(--secondary-text-color);
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.footer-word{
	color: var(--acent-color);
}

.footer-item-map {
	margin-top: 20px;
	padding-bottom: 9px;
}

.footer-item-mail {
	margin-bottom: 9px;
}

.footer-map {
	display: inline-block;
	color: var(--secondary-text-color);
	line-height: 1.71;
}

.footer-contact-link {
	color: var(--footer-text-color);
	line-height: 1.71;
	&:hover,
    &:focus {
	color: var(--acent-color);
}
}

.footer-item-tel {
	padding-bottom: 60px;
}

.container-social-link {
	display: inline-block;
}

.footer-title {
	margin-top: 0px;
	margin-bottom: 20px;
	color: var(--secondary-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.footer-social {
	display: flex;
	justify-content: center;
	width: 206px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	cursor: pointer;
	fill: var(--secondary-text-color);
	background: #ffffff1a;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:last-child {
		margin-right: 0px;
	}
	&:hover,
    &:focus {
	background-color: var(--acent-color);
	fill: var(--secondary-text-color);
}
}

.footer-social-item {
	display: flex;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-right: 10px;
}

.footer-social-icon {
	align-items: center;
	width: 20px;
	height: 20px;
}
}

.form-footer {
	height: 86px;
	margin-left: 93px;
}
.footer-input {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background: inherit;
	color: var(--secondary-text-color);
	&::placeholder {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.25;
	padding-left: 16px;

	display: flex;
	align-items: center;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
}
}

.footer-btn {
	display: inline-flex;
	margin-left: 12px;
	align-items: center;
	&-icon {
	margin-left: 10px;
	width: 24px;
	height: 24px;
}
}

